:root {
    --heading-font: "Roboto", sans-serif;
    --nav-font: "Poppins", sans-serif;
    --app-green:#2dc997;
    --app-lightgrey:#d3d3d3;
    --default-color: #666666;
    --background-color: #474d52;
    --default-font:"Roboto",  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --app-footer-bg:#2f3942;
}


html {
    scroll-behavior: smooth;
  }
  
.title-nav{
    font-size: 26px;
}


.navigation-container{
    padding: 21px 38px;
    font-weight: 600;
    transition: 0.7s;
}

.title-container{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)),url('images/mountain_background.jpg');
    color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.header-button{
    box-shadow: 0px 0px 0px 2px rgba(255,255,255,0.3);
    width: fit-content;
    padding: 6px 25px;
    letter-spacing: 1px;
    border-radius: 2px;
    margin-top: 20px;
}

.navigation-menu{
    font-size: 13.5px;  
    display: inline-flex;
    padding: 0px;
    background: none;
    color: white;
}

.center-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.menu-icon{
    display: none;
    font-size: x-large;
}
.about-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 3rem;
    column-gap: 35px;
    margin-top: 3rem;
}
.about-tile{
    font-weight:bold ;
}
.about-container .bi{
    font-size: 2.6rem;
    color: var(--app-green);
}

.service-icon .bi{
    width: 2.8rem;
    font-size: 25px;
    color: white;
}

.image-style{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.count-container{
    background-color: var(--app-lightgrey);
    padding: 2.2rem;
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
}
.count-text{    
    color: var(--app-green);
    font-weight: 700;
    font-size: 45px;
}
p{
    color:var(--default-color) ;
}
.service-card{
    border: 1px solid var(--app-lightgrey);
    padding: 50px 30px;
    position: relative;
    cursor: pointer;
}
.service-list{
    display: grid;
    gap: 2.8rem;
    padding: 2rem;
    margin-top: 2rem;    
    grid-template-columns: repeat(3,1fr);
}
.service-icon{
    width: fit-content;
    padding: 0.5rem;
    position: absolute;
    top: -33px;
    left: calc(50% - 30px);
    background: var(--app-green);
    border-radius: 50%;
    border: 2px solid white;
    transition: ease-in-out 0.3s;
    height: 3.9rem;
    display: grid;
    place-items: center;
}

.service-card:hover .text-2xl{
        color: var(--app-green);
        cursor: pointer;
}
.service-card:hover .service-icon{
    background: white;
    border: 2px solid var(--app-green);
}
.service-card:hover .service-icon .bi{
    color: var(--app-green);
}

.call-action-container{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 1.5), rgba(0, 0, 0, 0.1)),url('images/cta-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    padding: 8rem 4rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.action-button{
    border: 2px solid white;
    width: fit-content;
    padding: 12px 40px;
    border-radius: 50px;
    font-weight: 500;
    font-size: 18px;
    margin-top: 2rem;
}
.portfolio-product-container{
    text-align: center;
}
.portfolio-product-container .product-tab{
    display: flex;
    flex-flow: row;
    justify-content: center;
    column-gap: 19px;
    font-size: 17px;
    font-weight: 500;
    color: var(--default-color);
}

.portfolio-product-container .product-card-container{
    display: grid;
    padding: 20px 50px;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1rem
}
.product-card-container .content{
    padding: 1rem;
    text-align: left;
}
.product-card-container .product-card{
    box-shadow: 2px 2px 4px var(--app-lightgrey);
    transition: 0.10s;

}
.product-card-container .image-style{
    cursor: pointer;
    transition: transform .3s;
    /* transform: scale(0.9); */
}
.product-card-container .image-style:hover{
    transform: scale(1.1);
}
.product-card div{
    overflow: hidden;
}
.product-card{
    /* transition: 1s;
    transform: scale(0.0001);
    transition-duration: 0.4s;
    transition-delay: 0ms; */
}

/* Style for the selected link */
.menu-bar a.selected {
    border-bottom: 2px solid var(--app-green);
    transition: all 0.1s ease;
}



.product-tab a.selected{
    color: var(--app-green);
}
.product-tab a{
    cursor: pointer;
}

.team-card-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 4rem;
}
.team-card-container .team-card{
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 1.2rem;
    gap: 1.5rem;
    transition: 0.7s;
    grid-template-columns: 1fr 2fr;
}


.team-card-container .member-info{
    text-align: left;
    line-height: 2rem;
}
.team-card-container  .member-picture img{
    border-radius: 50%;
    height: 10rem;
    width: 10rem;
}

.team-card-container  .member-picture{
    display: flex;
    justify-content: center;
}

.member-info div{
    font-size: 15px;
    font-weight: 600;
    color: var(--default-color);
}

.icon-container .bi{
    color: gray;
    background-color: color-mix(in srgb, var(--default-color), transparent 94%);
    width: fit-content;
    height: fit-content;
    padding: 0px 0.5rem;
    border-radius: 50%;
    cursor: pointer;
}

.twitter-icon :hover{
    color: var(--app-green);
    background-color: white;
}
.team-card .member-info .desigination{
    position: relative;
}
.team-card .member-info .desigination::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 15px;
    transform: translateX(-50%); /* Centers the line */
    width: 10%; /* Adjust the width of the line */
    height: 1px; /* Height of the line */
    background-color: var(--app-green);
    opacity: 0.5;
}





.contact-container .contact-details{
    display: grid;
    grid-template-columns: 2fr 4fr;
    padding: 4rem;
}
.contact-container .contact-icon{
    text-align: left;
}

.contact-container input{
    border: 1px solid var(--app-lightgrey);
    padding: 5px;
    transition: 0.2s;
    outline: none;
}

.contact-container .contact-input{
    display: grid;
    grid-template-areas: "name-input email-input"
                        "subject-input subject-input"
                        "message-input message-input";
                        gap: 1.5rem;
                        grid-template-rows: 2.2rem 2.2rem 9rem;
}

.contact-container input:focus {
    border: 1.2px solid var(--app-green);
}
.contact-container input::placeholder {
    /* color: #ee2a7b; */
    top: 0px;
}

.footer-container .bi{
    padding: 0.2rem 0.5rem ;
    background-color: var(--app-green);
    color:white;
}
.footer-container{
    color: white;
    background: var(--app-footer-bg);
    padding: 1.4rem 2rem;
}

.footer-container p{
    color:white;
    font-size: 0.9rem;
    font-style: italic;
}

.social-info .bi:hover{
    color: white;
}

.social-info .bi{
    transition: 0.5s;
}

.social-info .bi:nth-child(1):hover{
    background-color: #1DA1F2;
}
.social-info .bi:nth-child(2):hover{
    background-color: #1877F2;
}
.social-info .bi:nth-child(3):hover{
    background: linear-gradient(115deg, #f9ce34, #ee2a7b, #6228d7);
}
.social-info .bi:nth-child(4):hover{
    background-color: #0072b1;
}


@keyframes lineanimate {
    
}

.modal .close{
    display: none;
}

.modal{
    display: none;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid var(--app-green);
    border-bottom: 16px solid var(--app-green);
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


@media only screen and (max-width: 1200px){
    .navigation-menu{
        display: none;
    }
    .modal .close{
        display: block;
    }
    
    .menu-icon{
        display: block;
        align-content: center;
    }
    .count-container{
        grid-template-columns: repeat(2,1fr);
    }
    .call-action-container{
        text-align: center;
        grid-template-columns: 1fr; 
    }    
    .portfolio-product-container .product-card-container{
        grid-template-columns: repeat(2,1fr);; 
    }
    .team-card-container{
        grid-template-columns: repeat(2,1fr);
    }
    /* sample */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
}


@media only screen and (max-width: 990px){
    .about-container{
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 0px;
    }
    .count-container{
        grid-template-columns: 1fr;
    }
    .service-list{
        grid-template-columns: repeat(2,1fr);
    }
    .portfolio-product-container .product-tab{
        font-size: 14px;
    }
    .team-card-container .social-info{
        justify-content: center;
    }
    .contact-container .contact-details{
        grid-template-columns: 1fr;
    }
    .team-card-container{
        grid-template-columns: 1fr;
    }
    /* .team-card .member-info .desigination::after{
        left: 7.0rem;
    } */

}

@media only screen and (max-width: 770px){
    .service-list{
        grid-template-columns: 1fr
    }
        .portfolio-product-container .product-card-container{
        grid-template-columns: 1fr; 
    }
    .team-card-container{
        grid-template-columns: 1fr;
    }
    .team-card .member-info .desigination::after{
        left: 50%;
    }
    .team-card-container .team-card{
        grid-template-columns: 1fr; 
    }
    .team-card-container .member-info{
        text-align: center;
    }
    .contact-container .contact-input{
        grid-template-areas: "name-input name-input"
        "email-input email-input"
                            "subject-input subject-input"
                            "message-input message-input";
                            grid-template-rows: 2.2rem 2.2rem 2.2rem  9rem;
    }

}







